// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #333333;
$light-gray: #F4F4F4;


$my-black:  #333333;
$my-pink:  #FCBBCA;
$my-light-pink: #F2E6E9;
$my-gray: #6D6875;
$my-light-gray: #D9D9D9;
$my-dark-pink: #EC96AB;
