// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Bebas Neue";
  src: font-url('bebas/BebasNeue.otf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: font-url('bebas/BebasNeue-Light.otf') format('truetype');
  font-weight: lighter;
}
@font-face {
  font-family: "Bebas Neue";
  src: font-url('bebas/BebasNeue-Bold.otf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Muara Demo";
  src: font-url('muara/MUARA-DEMO.otf') format('truetype');
}

$bebas-neue-font: "Bebas Neue";
$muara-demo-font: "Muara Demo";

$body-font: "Arial Narrow", Arial, sans-serif; ;
$headers-font: $bebas-neue-font;
