.background-light-pink {
  background-color: $my-light-gray-purple;
}

.background-white {
  background-color: white;
}

@media (min-width: 992px) {
  .products-left {
    width: 110%
  }

  .padding-right-mid {
    padding-right: 25px;
  }

  .padding-right-huge {
    padding-right: 90px;
  }

  .padding-left-big {
  padding-left: 50px;
  }

  .padding-right-big {
    padding-right: 50px;
  }

  .desktop-hidden {
    display: none;
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }

  .font-small {
    font-size: 16px;
  }

  .flex-reverse {
    flex-direction: column;
  }

  .products-right {
    order: 1;
  }

  .products-left {
    order: 2;
  }

  .padding-right-mid {
    padding-right: 25px;
  }

  .display-block-mobile {
    flex-direction: column;
  }

  .mobile-hidden {
    display: none;
  }

  .no-padding-right {
    padding-right: 0px;
  }

  .padding-right-small {
    padding-right: 8px;
  }

  .padding-left-small {
    padding-left: 8px;
  }

  .padding-top-small {
    padding-top: 10px;
  }
}

@media (max-width: 400px) {
  .padding-left-mid {
    padding-left: 25px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
}

.padding-bottom-mid {
  padding-bottom: 25px;
}

.padding-bottom-small {
  padding-bottom: 10px;
}

.padding-left-xsmall {
  padding-left: 5px;
}

.margin-top-small {
  margin-top: 10px;
}

.padding-top-mid {
  padding-top: 25px;
}

.no-margin-top {
  margin-top: 0px;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.how-it-works-container {
  width: 100%
}
