.background-light-gray {
  background-color: $my-light-gray;
}

.background-white {
  background-color: white;
}

@media (min-width: 992px) {
  .products-text-container {
    width: 110%
  }

  .padding-right-mid {
    padding-right: 25px;
  }

  .padding-right-huge {
    padding-right: 90px;
  }

  .padding-left-big {
    padding-left: 50px;
  }

  .padding-right-big {
    padding-right: 50px;
  }

  .desktop-hidden {
    display: none;
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }

  .font-small-mobile {
    font-size: 16px;
  }

  .flex-reverse {
    flex-direction: column;
  }

  .products-image-container {
    order: 1;
  }

  .products-text-container {
    order: 2;
  }

  .padding-right-mid {
    padding-right: 25px;
  }

  .display-block-mobile {
    flex-direction: column;
  }

  .mobile-hidden {
    display: none;
  }

  .no-padding-right {
    padding-right: 0px;
  }

  .padding-right-small {
    padding-right: 8px;
  }

  .padding-left-small {
    padding-left: 8px;
  }

  .padding-top-small {
    padding-top: 10px;
  }
}

@media (max-width: 400px) {
  .padding-left-mid {
    padding-left: 25px;
  }
}

.flex{
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.padding-bottom-mid {
  padding-bottom: 25px;
}

.padding-bottom-small {
  padding-bottom: 10px;
}

.padding-bottom-big {
  padding-bottom: 60px;
  height: 100%;
}

.padding-left-xsmall {
  padding-left: 5px;
}

.margin-top-small {
  margin-top: 10px;
}

.margin-bottom-mid {
  margin-bottom: 25px !important;
}

.padding-top-mid {
  padding-top: 25px;
}

.padding-section {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 100%
}

.no-margin-top {
  margin-top: 0px;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.how-it-works-container {
  width: 100%
}

h2 {
  font-size: 28px;
  font-weight: 600;
}
