.new-order-wrapper{
  display: flex;
  flex-wrap: wrap;
  min-height: calc( 100vh - 94px );
  padding-top: 24px;
  padding-bottom: 24px;
  width: 90%;
  margin: 0 auto;
  // margin: 0px 32px;
}
.form-container{
  padding: 16px;
  flex: 1 0 70%;
}
.order-description-container {
  flex: 1 0 30%;
}
.form-headline {
  font-weight: bold;
  font-size: 24px;
  color: $my-black;
  margin: 24px 0px;
}
.form-subheadline {
  font-size: 16px;
  color: $my-black;
}
