  <!-- Horionztal Menu Profile page -->
<div class="background-light-pink horizontal-menu-container-desktop padding-section-mid">
  <div class="flex flex-justify-around underlined margin-left-huge margin-right-huge padding-bottom-small">
    <div class="menu-item active-item">
      Datos personales
    </div>
    <div class="menu-item">
      Planes activos
    </div>
  </div>
</div>
<div class="show-contaier padding-bottom-mid padding-top-mid background-light-pink">
  <div class="profile-section-container margin-bottom-mid background-light-pink-transparent padding-section-mid padding-side-desktop">
    <div class="title">
      Datos personales y de envío
    </div>
    <div class="fields">
      <ul class="padding-top-mid font-small">
        <li>
          <div class="bold">
            Nombre:
          </div>
          <div>
            Daniel José
          </div>
        </li>
        <li>
          <div class="bold">
            Apellidos:
          </div>
          <div>
            López González
          </div>
        </li>
        <li>
          <div class="bold">
            Fecha de nacimiento:
          </div>
          <div>
            16 / jun / 1994
          </div>
        </li>
        <li>
          <div class="bold">
            Email:
          </div>
          <div>
            dlopez.10g@gmail.com
          </div>
        </li>
        <li>
          <div class="bold">
            Teléfono:
          </div>
          <div>
            3185743187
          </div>
        </li>
        <li>
          <div class="bold">
            Contraseña:
          </div>
          <div>
            **********
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="profile-section-container margin-bottom-mid background-light-pink-transparent padding-section-mid padding-side-desktop">
    <div class="title">
      Información de envío
    </div>
    <div class="fields">
      <ul class="padding-top-mid font-small">
        <li>
          <div class="bold">
            Nombre:
          </div>
          <div>
            Daniel José
          </div>
        </li>
        <li>
          <div class="bold">
            Apellidos:
          </div>
          <div>
            López González
          </div>
        </li>
        <li>
          <div class="bold">
            Fecha de nacimiento:
          </div>
          <div>
            16 / jun / 1994
          </div>
        </li>
        <li>
          <div class="bold">
            Email:
          </div>
          <div>
            dlopez.10g@gmail.com
          </div>
        </li>
        <li>
          <div class="bold">
            Teléfono:
          </div>
          <div>
            3185743187
          </div>
        </li>
        <li>
          <div class="bold">
            Contraseña:
          </div>
          <div>
            **********
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer background-light-pink" id="contact">
  <div class="footer-links">
    <a href="https://www.instagram.com/12_startups/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://wa.me/573216458798" target="_blank"><i class="fab fa-whatsapp"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-copyright"></i>Made with <i class="fa fa-heart"></i> by Scuad Team
  </div>
</div>



