<!-- Horionztal Menu Profile page -->
<div class="horizontal-menu-container-desktop padding-section-mid background-light-pink">
  <div class="flex flex-justify-around underlined margin-left-huge margin-right-huge padding-bottom-small">
      <%= link_to "Datos personales", user_path(current_user), class:"link-decoration-none menu-item btn-color-black" %>
    <div class="menu-item active-item">
      Suscripciones
    </div>
  </div>
</div>
<div class="show-container padding-bottom-mid padding-top-mid background-light-pink">
  <div class="profile-section-container margin-bottom-mid background-light-pink-transparent padding-section-mid padding-side-desktop padding-top-mid">
    <div class="title margin-bottom-mid">
      <% if @orders.empty? %>
        <div class="padding-left-xsmall">
          No cuentas con ninguna suscripción
        </div>
      <% else %>
        <div class="padding-left-xsmall">
          Suscripciones
        </div>
      <% end %>
    </div>
    <% unless @orders.empty? %>
      <% @orders.each do |order| %>
        <%= render 'shared/order-card', order: order %>
      <% end %>
    <% end %>
    <% if current_user.all_orders_cancelled? %>
      <%= link_to "Suscribirme", select_plan_path, class: "link-decoration-none button2 cancel-btn font-small" %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer', background: "background-light-pink", border_top:"" %>



