<!-- Horionztal Menu Profile page -->
<div class="horizontal-menu-container-desktop padding-section-mid background-light-pink">
  <div class="flex flex-justify-around underlined margin-left-huge margin-right-huge padding-bottom-small">
    <div class="menu-item">
      <%= link_to "Datos personales", user_path(User.last), class:"link-decoration-none" %>
    </div>
    <div class="menu-item active-item">
      Planes activos
    </div>
  </div>
</div>
<div class="show-contaier padding-bottom-mid padding-top-mid background-light-pink">
  <div class="profile-section-container margin-bottom-mid background-light-pink-transparent padding-section-mid padding-side-desktop">
    <div class="title margin-bottom-mid">
      Planes activos
    </div>
    <div class="flex flex-justify-between font-small plans-list">
      <div class="main-info">
        <div class="bold">
          Plan mensual
        </div>
        <div class="normal">
          Dirección
        </div>
      </div>
      <div class="button cancel-btn font-small">
        Cancelar plan
      </div>
    </div>
  </div>
</div>
<div class="footer background-light-pink" id="contact">
  <div class="footer-links">
    <a href="https://www.instagram.com/12_startups/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://wa.me/573216458798" target="_blank"><i class="fab fa-whatsapp"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-copyright"></i>Made with <i class="fa fa-heart"></i> by Scuad Team
  </div>
</div>



