<div class="container" style="text-align: justify;">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 class="text-center" style="font-weight: bold;">Política de privacidad de The Women Box</h1>

      <p>En The Women Box somos conscientes de la importancia de la privacidad para el correcto aprovechamiento de internet.  En esta declaración se definen las políticas y se describen las prácticas que seguiremos con respecto a la privacidad de la información de los usuarios de esta plataforma.  Si tiene alguna duda acerca de nuestras políticas puede contactarse con nosotros a través de la siguiente cuenta de correo electrónico: hola@thewomenbox.com</p>

      <h3 class="text-center" style="font-weight: bold;">¿Qué tipo de información recogemos?</h3>

      <p>En The Women Box recogemos su información personal en línea solo cuando voluntariamente decide entregarla.  En el registro en línea le pedimos proporcionar limitada información personal como nombres, apellidos, dirección, teléfono de contacto y correo electrónico.  Además habilitamos un campo para que puedas crear una contraseña de forma segura.</p>

      <h3 class="text-center" style="font-weight: bold;">¿Cómo usamos la información que recogemos en línea?</h3>

      <h4 class="text-center" style="font-weight: bold;">Uso interno</h4>

      <p>La información que usted suministra a The Women Box será usada: (1) para proveer de manera correcta los servicios que usted ha solicitado a través de la plataforma. (2) Para responder preguntas sobre nuestros servicios relacionadas con el sistema de pago o con el propio uso de la plataforma. (3) Para procesar pagos de servicios solicitados a través de la plataforma (La pasarela a través de la cual se procesan los pagos es la desarrollada por la empresa ePayco, puede encontrar los términos y condiciones del pagador en el siguiente link: https://epayco.co/pagador.php ) . (4) Para realizar encuestas dirigidas a clientes de The Women Box y (5) para ponernos en contacto con usted con el fin de informar sobre los productos o servicios que ofrecemos.</p>

      <h4 class="text-center" style="font-weight: bold;">Divulgación de información personal a terceros</h4>

      <p>No divulgaremos ninguna información personal a ningún tercero (excluyendo a nuestros contratistas o proveedores a quienes podemos proporcionar dicha información con el propósito limitado de brindarnos servicios y quienes están obligados a mantener la información confidencial), a menos que (1) estemos legalmente obligados a hacerlo, por ejemplo, en respuesta a una citación, una orden judicial u otro proceso legal y / o, (2) sea necesario proteger nuestros derechos de propiedad relacionados con este sitio web. También podemos compartir información agregada y no personal sobre el uso del sitio web con terceros no afiliados.</p>

      <h3 class="text-center" style="font-weight: bold;">Uso de Cookies</h3>

      <p>El sitio web de The Women Box, como muchos otros sitios comerciales, pueden usar una tecnología estándar llamada "cookies" para recopilar información sobre cómo se usa nuestro sitio. Las cookies fueron diseñadas para ayudar a un operador del sitio web a determinar que un usuario en particular había visitado el sitio anteriormente y, por lo tanto, guardar y recordar cualquier preferencia que se haya establecido. Podemos usar cookies para mantener un registro de la información sobre su sesión actual de navegación web, la cual será descartada tan pronto como cierre la sesión o cierre su navegador web. Esta información también nos permite monitorear estadísticamente cuántas personas están usando nuestro sitio y con qué propósito. También podemos utilizar cookies "persistentes o basadas en memoria", que permanecen en el disco duro de su computador hasta que las elimine. Los ejemplos incluyen el uso de estas cookies para rellenar previamente los formularios que completa en nuestro sitio web en función de la información que nos ha proporcionado anteriormente.</p>
      <p>The Women Box utiliza los servicios de Google Analytics y puede usar otros servicios similares para recopilar y analizar datos estadísticos sobre los visitantes de nuestro sitio web. También podemos usar otros servicios similares para que usted vea anuncios de The Women Box cuando visite determinados sitios web de terceros. Estos servicios analíticos y publicitarios no recopilan información de identificación personal. Puede optar por excluirse del uso de datos no identificables personalmente por Google Analytics mediante la descarga e instalación de un complemento en su navegador web. Puede encontrar más información sobre cómo Google Analytics recopila y procesa los datos visitando el siguiente link:
      <a href="https://policies.google.com/technologies/partner-sites?hl=es">https://policies.google.com/technologies/partner-sites?hl=es</a> También puede optar por no recibir el servicio de AdWords de Google que utilizamos para publicar anuncios, y el servicio que también recopila información de identificación no personal visitando la página de Configuración de anuncios de Google en <a href="https://support.google.com/ads/answer/2662922?hl=es">https://support.google.com/ads/answer/2662922?hl=es</a></p>

      <h3 class="text-center" style="font-weight: bold;">Cómo protegemos la información en línea</h3>
      <p>Buscamos tener mucho cuidado en la protección de su información personal. Esto incluye, entre otras cosas, el uso de técnicas estándar de la industria. Como resultado, mientras nos esforzamos por proteger su información personal, no podemos asegurar ni garantizar la seguridad de ninguna información que nos transmita o reciba de nosotros. Esto es especialmente cierto para la información que nos transmite por correo electrónico, ya que no tenemos forma de protegerla hasta que nos llega, ya que el correo electrónico no tiene las funciones de seguridad incorporadas en nuestros sitios web.

      Revisamos nuestros arreglos de seguridad de vez en cuando según lo consideremos apropiado.</p>

      <h3 class="text-center" style="font-weight: bold;">¿Cómo puede ayudar a proteger su información?</h3>
      <p>Le recomendamos que no divulgue su contraseña usada dentro del sitio web a nadie. Nunca le pediremos su contraseña en una llamada telefónica no solicitada o en un correo electrónico no solicitado. También recuerde cerrar sesión en el sitio web de The Women Box y cerrar la ventana de su navegador cuando haya terminado su trabajo. Esto con el fin de garantizar que otros no puedan acceder a su información personal o realizar compras no autorizadas si otros tienen acceso a su computador.</p>

      <h3 class="text-center" style="font-weight: bold;">Enlaces a otros sitios web</h3>
      <p>Los contenidos del sitio web pueden vincular a nuestros usuarios a través de links a sitios web de terceros con el fin de ser lograr una comunicación efectiva. The Women Box no controla y no es responsable de las prácticas de los sitios web de terceros.</p>

      <h3 class="text-center" style="font-weight: bold;">Nota</h3>
      <p>Es posible que hagamos revisiones y cambios a esta declaración de privacidad. Por ejemplo, a medida que actualizamos y mejoramos nuestros servicios, las nuevas características pueden requerir modificaciones a la declaración de privacidad. En consecuencia, por favor revise periódicamente.</p>

    </div>
  </div>

</div>
