<div class="container" style="text-align: justify;">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <ol type="1" class="margin-top-big" style="font-weight: bold;">
        <li>
          <%= link_to "Término de uso del sitio", "#terminos-generales"%>
        </li>
        <li>
          <%= link_to "Términos y condiciones de la suscripción", "#terminos-producto"%>
        </li>
      </ol>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <div id="terminos-generales">
        <h1 class="text-center" style="font-weight: bold;">Término de uso del sitio</h1>
        <p>Al acceder y utilizar este servicio, usted acepta y accede a estar obligado por los términos y disposiciones de este acuerdo. Asimismo, al utilizar estos servicios particulares, usted estará sujeto a toda regla o guía de uso correspondiente que se haya publicado para dichos servicios. Toda participación en este servicio constituirá la aceptación de este acuerdo. Si no acepta cumplir con lo anterior, por favor, no lo utilice</p>

        <h3 class="text-center" style="font-weight: bold;">Otros términos aplicables</h3>
        Estos términos de uso se refieren a los siguientes términos adicionales, que también se aplican a su uso de nuestro sitio:
        <%= link_to "Nuestras Políticas de Privacidad.", privacy_policy_path %>
        <h3 class="text-center" style="font-weight: bold;">Políticas de uso aceptables del sitio web</h3>
        <p>Esta política de uso aceptable establece los términos entre usted y nosotros según los cuales puede acceder a nuestro sitio web www.thewomenbox.com (nuestro sitio). Esta política de uso aceptable se aplica a todos los usuarios y visitantes de nuestro sitio.</p>
       <h3 class="text-center" style="font-weight: bold;"> Usos prohibidos</h3>

        Puede utilizar nuestro sitio únicamente con fines legales. No puede utilizar nuestro sitio:
        <ul>
          <li>De cualquier forma que infrinja cualquier ley o regulación local, nacional o internacional aplicable.</li>
          <li>De cualquier manera que sea ilegal o fraudulenta, o tenga algún propósito o efecto ilegal o fraudulento.</li>
          <li>Con el propósito de dañar o intentar dañar a menores de cualquier manera.</li>
          <li>Para enviar, recibir, cargar, descargar, usar o reutilizar a sabiendas cualquier material que no cumpla con nuestros estándares de contenido.</li>
          <li>Para transmitir o procurar el envío de cualquier material publicitario o promocional no solicitado o no autorizado o cualquier otra forma de solicitud similar (spam).</li>
        </ul>

        <h3 class="text-center" style="font-weight: bold;">Usted también está de acuerdo con:</h3>

        <p>No reproducir, duplicar, copiar o revender ninguna parte de nuestro sitio en contravención de las disposiciones de nuestros términos de uso de nuestro sitio web.</p>

        <h3 class="text-center" style="font-weight: bold;">Suspensión y terminación</h3>

        <p>Determinaremos, a nuestra discreción, si ha habido un incumplimiento de esta política de uso aceptable a través de su uso de nuestro sitio. Cuando se produce un incumplimiento de esta política, podemos tomar las medidas que consideremos adecuadas.</p>
        <p>El incumplimiento de esta política de uso aceptable constituye un incumplimiento sustancial de los términos de uso en los que se le permite usar nuestro sitio, y puede dar lugar a que tomemos todos o cualquiera de las siguientes acciones:</p>
        <ul>
          <li>
            Retiro inmediato, temporal o permanente de su derecho a utilizar nuestro sitio.
          </li>
          <li>
            Eliminación inmediata, temporal o permanente de cualquier publicación o material cargado por usted en nuestro sitio.
          </li>
          <li>
            Emisión de una advertencia para usted.
          </li>
          <li>
            Procedimientos legales en su contra para el reembolso de todos los costos en concepto de indemnización (incluidos, entre otros, los costos administrativos y legales razonables) que resulten del incumplimiento.
          </li>
          <li>
            La divulgación de dicha información a las autoridades de aplicación de la ley que consideremos razonables es necesaria.
          </li>
        </ul>

        <p>Excluimos la responsabilidad por las acciones tomadas en respuesta a incumplimientos de esta política de uso aceptable. Las respuestas descritas en esta política no son limitadas, y podemos tomar cualquier otra acción que razonablemente consideremos apropiada.</p>

        <h3 class="text-center" style="font-weight: bold;">Acceso a nuestro sitio</h3>
        <p>Nuestro sitio está disponible de forma gratuita.</p>

        <p>No garantizamos que nuestro sitio, o cualquier contenido en él, siempre esté disponible o sea ininterrumpido. El acceso a nuestro sitio está permitido de forma temporal. Podemos suspender, retirar, interrumpir o cambiar la totalidad o parte de nuestro sitio sin previo aviso. No seremos responsables ante usted si, por algún motivo, nuestro sitio no está disponible en cualquier momento o por cualquier período.</p>

        <p>Usted es responsable de hacer todos los arreglos necesarios para que tenga acceso a nuestro sitio.</p>

        <p>También es responsable de garantizar que todas las personas que accedan a nuestro sitio a través de su conexión a Internet conozcan estos términos de uso y otros términos y condiciones aplicables, y que cumplan con ellos.</p>

        <p>Nuestro sitio está dirigido a personas que residen en Colombia. No representamos que el contenido disponible en o a través de nuestro sitio sea apropiado o esté disponible en otras ubicaciones. Podemos limitar la disponibilidad de nuestro sitio o cualquier servicio o producto descrito en nuestro sitio a cualquier persona o área geográfica en cualquier momento. Si elige acceder a nuestro sitio desde fuera de Colombia, lo hace bajo su propio riesgo.</p>

       <h3 class="text-center" style="font-weight: bold;">Cambios en nuestro sitio</h3>
        <p>Podemos actualizar nuestro sitio de vez en cuando, y podemos cambiar el contenido en cualquier momento. Sin embargo, tenga en cuenta que cualquiera de los contenidos de nuestro sitio puede estar desactualizado en un momento dado, y no tenemos la obligación de actualizarlo.</p>

        <p>No garantizamos que nuestro sitio, o cualquier contenido en él, esté libre de errores u omisiones.</p>

        <h3 class="text-center" style="font-weight: bold;">Cambios en los presentes términos</h3>
        <p>Podemos modificar estos términos de uso en cualquier momento modificando esta página.</p>

        <p>Revise esta página de vez en cuando para darse cuenta de cualquier cambio que realicemos, ya que son vinculantes para usted.</p>
      </div>
      <div id="terminos-producto">
        <h1 class="text-center" style="font-weight: bold;">Términos y condiciones en la venta de nuestros productos y servicios</h1>
        <h3 class="text-center" style="font-weight: bold;">1. Introducción:</h3>
        <ol type='a'>
          <li>
            Estos son los términos y condiciones en los que le suministramos productos.
          </li>
          <li>
            Lea estos términos detenidamente antes de solicitar su pedido. Estos términos le dicen cómo le proporcionaremos productos, cómo usted y nosotros podemos cambiar o finalizar las suscripciones, qué hacer si hay un problema y otra información importante. Si cree que hay un error en estos términos, contáctenos para discutirlo.
          </li>
        </ol>

        <h3 class="text-center" style="font-weight: bold;">2. Nuestros productos y servicio de suscripción.</h3>
        <ol type="a">
          <li>
            Puede realizar pedidos de productos a través de nuestras plataformas en forma de suscripción mensual.
          </li>
          <li>
            Cuando se suscriba a nuestros servicios, lo suscribiremos automáticamente para recibir una entrega mensual regular de productos. En general, nos referimos a esto dentro de estos términos y condiciones como una "suscripción".
          </li>
          <li>
            Puede realizar un pedido a través de nuestro sitio web sobre la base de cualquiera de los siguientes términos de suscripción:
          </li>
            <ol type="i">
              <li>
                Nuestra suscripción mensual "estándar" para recibir una entrega de productos una vez al mes desde la fecha de pago hasta que sea sea cancelada de acuerdo con los términos establecidos. Tomaremos el pago del primer mes de la suscripción en la fecha en que se realizó su pedido y cada mes subsiguiente se realizará el pago repetido a través de su método de pago elegido siete (7) días antes de que se envíen sus productos, durante el tiempo de la suscripción. Realizaremos cargos y le proporcionaremos productos mensualmente hasta que se cancele la suscripción.
              </li>
            </ol>
        </ol>

        <h3 class="text-center" style="font-weight: bold;">3. Acuerdo de suscripción</h3>
        <ol type="a">
          <li>
            Nuestra aceptación de su pedido se llevará a cabo cuando le enviemos un correo electrónico aceptando la orden, en cuyo momento se creará una suscripción suya para recibir nuestros productos.
          </li>
          <li>
          Si no podemos aceptar su pedido, se lo informaremos por escrito. Esto podría deberse a que el producto está agotado, debido a límites inesperados en nuestros recursos que no pudimos planificar de manera razonable, porque hemos identificado un error en el precio o la descripción del producto o porque no podemos cumplir con el plazo de entrega según la fecha de entrega que usted ha especificado.  De producirse esta situación nos pondremos en contacto con usted y le ofreceremos un reembolso.
          </li>
          <li>
            Nuestro sitio web es exclusivamente para la promoción de nuestros productos en Colombia. Desafortunadamente, no realizamos envíos a direcciones fuera de este país.
          </li>
        </ol>

        <h3 class="text-center" style="font-weight: bold;">4. Nuestros productos</h3>
        <ol type="a">
          <li>
            Los productos pueden variar de sus imágenes. Las imágenes de los productos en nuestro sitio web son sólo para fines ilustrativos El producto final puede variar ligeramente de esas imágenes.
          </li>
          <li>
            Información sobre nuestros productos:
            <ol type="i">
              <li>
                Alimentos perecederos: Le recomendamos que revise el empaque del producto para obtener información nutricional y advertencias de alérgenos antes del consumo.  Esto es especialmente importante si tiene una alergia o intolerancia.
              </li>
              <li>
                Productos cosméticos: Le recomendamos que analice un área pequeña de la piel antes de usar el producto si tiene una alergia conocida o si tiene sensibilidad a las fragancias. Si se desarrolla una erupción o alergia, deje de usarlo inmediatamente. No utilice los productos para cualquier otra cosa que no sea el propósito para el cual fueron creados. No ingerir los productos destinados a uso externo. (es decir, cremas, lociones, perfumes, cosméticos) y evitar el contacto con los ojos.
              </li>
            </ol>
          </li>
          <li>
            No seremos responsables por el mal uso, reacciones alérgicas o cualquier lesión sufrida por el uso de los productos.
          </li>
          <li>
            El empaque del producto puede variar de lo que se muestra en nuestro sitio web.
          </li>
        </ol>

        <h3 class="text-center" style="font-weight: bold;">5. Nuestros derechos para hacer cambios.</h3>
        <ol type="a">
          <li>
            Podemos cambiar y / o sustituir (a nuestro exclusivo criterio) productos para reflejar cambios en las leyes pertinentes y requisitos reglamentarios.
          </li>
          <li>
            Además, podemos hacer cambios a estos términos o los productos a nuestra entera discreción. Si corresponde los usuarios pueden recibir un reembolso por cualquier producto pagado pero no recibido.
          </li>
        </ol>

       <h3 class="text-center" style="font-weight: bold;"> 6. Entrega de los productos</h3>
        <ol type="a">
          <li>
            Gastos de envío:
            <ol type="i">
              <li>
                No se pagará el envío con respecto a los servicios de suscripción; la entrega se incluye dentro del precio de la suscripción.
              </li>
              <li>
                Se pagará con respecto a cualquier pedido único de bienes; cualquier costo de envío aplicable se mostrará claramente en el momento de la facturación antes de completar su pedido.
              </li>
            </ol>
          </li>
          <li>
            Le suministraremos los productos en la fecha que elija al momento de realizar su pedido, o lo más cerca posible de esa fecha, hasta que caduque la suscripción (si corresponde) o finalizamos la suscripción mediante un aviso por escrito a usted. En cualquier caso, le enviaremos los productos dentro de los 30 días posteriores al día en que aceptamos su pedido.
          </li>
          <li>
            No somos responsables por retrasos fuera de nuestro control. Si nuestro suministro de los productos se retrasa por un evento fuera de nuestro control, nos comunicaremos con usted lo antes posible para informarle y tomaremos medidas para minimizar el efecto de la demora. Siempre que hagamos esto, no seremos responsables por los retrasos causados ​​por el evento, pero si existe un riesgo de retraso sustancial, puede contactarnos para finalizar la suscripción y recibir un reembolso por cualquier producto que haya pagado pero que no haya recibido.
          </li>
          <li>
            Si no hay nadie disponible en su dirección para recibir la entrega y los productos no se pueden entregar a través de un buzón, la compañía de entrega le dejará una nota informándole cómo reorganizar la entrega o recoger los productos de un depósito local.
          </li>
          <li>
            Si no recoge los productos en nuestra compañía de entrega seleccionada según lo acordado o si, después de una entrega fallida a usted, no reordena la entrega ni los recoge en un depósito de entrega, nos pondremos en contacto con usted para obtener más instrucciones y podremos cobrarle costes de almacenamiento y cualquier otro gasto de envío.
          </li>
          <li>
            Usted tiene derechos legales si entregamos cualquier producto tarde. Si no cumplimos con el plazo de entrega de ningún producto, puede cancelar la suscripción inmediatamente en caso que nos hayamos negado a entregar los productos pagados. Si no desea dar por terminado de  forma inmediata o no tiene derecho a hacerlo puede darnos una nueva fecha límite para la entrega, que debe ser razonable, y puede nuevamente la suscripción de inmediato que caso que no reciba los productos en el plazo indicado.
          </li>
          <li>
            Si elige dar por terminada la suscripción por entrega tardía acorde a la cláusula 6. f) puede cancelar su pedido de cualquiera de los productos o rechazar los productos que se hayan entregado. Después de eso, le reembolsaremos cualquier suma que nos haya pagado por los bienes cancelados y su entrega. Si los productos le han sido entregados, debe enviarlos por correo. Pagaremos los gastos de envío comunicándose con nosotros a través del correo electŕonico hola@thewomenbox.com
          </li>
          <li>
            Un producto que sean bien será su responsabilidad desde el momento en que entreguemos el producto a la dirección que nos haya proporcionado.
          </li>
          <li>
            Usted es dueño de un producto que es mercancía una vez que hemos recibido el pago completo.
          </li>
          <li>
            Es posible que necesitemos cierta información suya para poder suministrarle los productos, por ejemplo, cuando se suscriba a su casilla de suscripción, le solicitaremos su dirección de correo electrónico, dirección y número de teléfono de contacto.
          </li>
          <li>
            Es posible que tengamos que suspender el suministro de un producto por:
            <ol type="i">
              <li>
                Lidiar con problemas técnicos o hacer pequeños cambios técnicos;
              </li>
              <li>
                Actualizar el producto para reflejar los cambios en las leyes pertinentes y los requisitos reglamentarios;
              </li>
              <li>
                Cambios en los productos según su solicitud.
              </li>
            </ol>
          </li>
          <li>
            Nos pondremos en contacto con usted con antelación en caso que decidamos suspender el suministro del producto para informarle tal novedad. Le devolveremos cualquier dinero que haya pagado y no haya sido mercadeado por alguno de nuestros productos.
          </li>
          <li>
            Si realiza el pago de los productos cuando debe hacerlo y aún no realiza el pago dentro de los 7 días de haberle recordado que debe realizar el pago, podemos suspender el suministro de los productos hasta que nos haya pagado los importes pendientes. Nos pondremos en contacto con usted para informarle que estamos suspendiendo el suministro de los productos. No le cobraremos por los productos durante el período de suspensión.
          </li>
          <li>
            Siempre puede cancelar la suscripción a un plan desde su perfil de usuario dando click en el botón “CANCELAR PLAN” continuo al plan de suscripción que desea cancelar.
          </li>
          <li>
            En caso que desee habilitar nuevamente el mismo plan debe crear un plan nuevo desde la sección de suscripciones indicando todos los datos solicitados.
          </li>
        </ol>

        <h3 class="text-center" style="font-weight: bold;">7. Entrega de productos con problemas</h3>
        <ol type="a">
          <li>
            Si tiene alguna pregunta o queja sobre el producto, contáctenos. Puede escribirnos a hola@thewomenbox.com.
          </li>
          <li>
            Tenemos el deber legal de suministrar productos que cumplan con estos términos. Nada en estos términos afectará sus derechos legales.
          </li>
          <li>
            Si desea ejercer sus derechos legales para rechazar productos debido a que están defectuosos o mal descritos, debe enviarlos de vuelta a nosotros. Pagaremos los costos de envío cuando los productos estén defectuosos o mal descritos. Envíenos un correo electrónico a hola@thewomenbox.com.
          </li>
        </ol>

        <h3 class="text-center" style="font-weight: bold;">8. Precios y pagos</h3>
        <ol type="a">
          <li>
            El precio del producto será el precio indicado en las páginas del pedido cuando realizó su orden. Hacemos todo lo posible para asegurarnos de que el precio del producto recomendado sea correcto.
          </li>
          <li>
            Si la tasa de IVA cambia entre la fecha de su pedido y la fecha en que le suministramos el producto, ajustaremos la tasa de IVA que usted paga, a menos que ya haya pagado el producto en su totalidad antes de que se aplique el cambio en la tasa de IVA.
          </li>
          <li>
            Siempre es posible que algunos de los productos que vendemos tengan un precio incorrecto. Normalmente verificaremos los precios antes de aceptar su pedido, de modo que, cuando el precio correcto del producto en la fecha de su pedido sea inferior al precio establecido en la fecha de su pedido, le cobraremos la cantidad más baja. Si el precio correcto del producto en la fecha de su pedido es mayor que el precio que se le indica, nos pondremos en contacto con usted para recibir instrucciones antes de aceptar su pedido. Si aceptamos y procesamos su pedido cuando el error de precio es obvio e inequívoco y usted podría haber sido reconocido como un error de precios, podemos rescindir la suscripción, reembolsarle cualquier suma que haya pagado y exigir la devolución de los productos que se le proporcionaron.
          </li>
          <li>
            Cuándo y cómo debes pagar.
            <ol type="i">
              <li>
                Aceptamos el pago de su suscripción mensual mediante tarjeta de crédito.
              </li>
            </ol>
          </li>
          <li>
            Debe actualizarnos con cualquier cambio en sus detalles de pago, dentro de los tres días hábiles de haber cambiado los detalles. Puede realizar cambios en sus detalles de pago actualizándolos a través de nuestro sitio web en "Mi cuenta".
          </li>
          <li>
            Si su banco ha rechazado un pago, podemos suspender sus pedidos a través de nuestro sitio web. Debe comunicarse con nosotros para acordar el pago y esperar a que se realice ese pago antes de poder realizar cambios en su pedido a través del sitio web nuevamente.
          </li>
          <li>
            Nos reservamos el derecho de suspender las entregas a usted y / o rescindir nuestro acuerdo con usted si se nos niega la autorización del emisor de su tarjeta para el pago o si creemos razonablemente que el pago será rechazado. Usted acepta compensarnos en su totalidad contra todos los costos y gastos razonables (incluidos los costos legales razonables) y los gastos en los que podamos incurrir para obtener los pagos adeudados que usted no ha realizado de conformidad con su acuerdo con nosotros según lo establecido en estos Términos y Condiciones.
          </li>
          <li>
            Usted debe pagar por los productos antes de que los enviemos. Con respecto a los servicios de suscripción, enviaremos el producto de suscripción después de la fecha de facturación efectiva.
          </li>
        </ol>

        <h3 class="text-center" style="font-weight: bold;">9. Contenido de la caja</h3>
        <p> Seleccionamos el contenido de sus cajas en función de sus preferencias, que pueden actualizarse en cualquier momento. El contenido de las cajas está sujeto a cambios, dependiendo de la disponibilidad y el suministro del producto, y puede ser diferente a los que se muestran en el material promocional, incluido el sitio web de The Women Box. Si no tenemos un stock disponible relacionado con su pedido, lo sustituiremos por un producto alternativo que consideremos adecuado o lo contactaremos por correo electrónico. Los artículos en el cuadro estarán en rotación y nos reservamos el derecho de cambiar los contenidos en cualquier momento. El contenido de las cajas puede diferir de lo que se anuncia al comprar la suscripción y elegir sus preferencias.</p>
      </div>
    </div>
  </div>
</div>
