/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  font-family:  "Open Sans", sans-serif;
}
.alert-info {
  background: $my-green;
  color: #488135;
  font-weight: lighter;
  border: none;
}
.alert-warning {
  background: $my-dark-pink;
  color: #4b1414;
  font-weight: lighter;
  border: none;
}
