.banner-container {
  margin-top: 70px;
  height: calc(90vh - 70px);
  display: flex;
}

.banner-image{
  width: 100%;
}

.banner-text h1 {
  font-size: 40px;
  font-weight: 600;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  color: $my-dark-gray;
  text-align: right;
}

.banner-text p {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 30px;
  color: $my-dark-gray;
}

@media (min-width: 992px) {
  .banner-container {
    display: flex;
  }

  .banner-text-container {
    width: 125%;
  }

  .banner-text {
    padding-right: 60px;
  }

  .banner-text p {
    text-align: justify;
  }
}

@media (max-width: 991px) {
  .banner-container {
    flex-direction: column;
  }

  .banner-text h1 {
    font-size: 24px;
    text-align: center
  }

  .banner-text p {
    font-size: 16px;
    text-align: justify;
  }

  .banner-container {
    height: auto;
  }
}

@media (max-width: 400px) {
  .banner-text h1 {
    font-size: 28px;
  }
}
