.banner-container {
  height: calc(90vh - 70px);
  display: flex;
}

.banner-image{
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.banner-text h1 {
  font-size: 40px;
  font-weight: 600;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  color: $my-dark-gray;
  text-align: right;
}

.banner-text p {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 30px;
  color: $my-dark-gray;
}

@media (min-width: 992px) {
  .banner-container {
    display: flex;
    margin-top: 70px;
  }

  .banner-text-container {
    width: 125%;
  }

  .banner-text {
    padding-right: 60px;
  }

  .banner-text p {
    text-align: justify;
  }
}

@media (max-width: 991px) {
  .banner-container {
    flex-direction: column;
  }

  .banner-text h1 {
    font-size: 24px;
    text-align: center
  }

  .banner-text p {
    font-size: 16px;
    text-align: justify;
  }

  .banner-container {
    height: auto;
  }
}

@media (max-width: 400px) {
  .banner-text h1 {
    font-size: 28px;
  }
}
.banner {
  color: white;
  text-align: center;
  height: calc( 100vh - 110px) ;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  .banner-content {
    width: 90%;
  }
}
.banner h1 {
  font-size: 64px;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 24px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}
@media (max-width: 486px) {
  .banner h1 {
    font-size: 48px;
  }
  .banner p {
    font-size: 16px;
  }
}
.fas.fa-check{
  color: $brand-primary;
  // padding-right: 16px;
}

.banner-title{
  color: $my-black;
}
.product-item{
  padding: 8px 0px;
  .product-item-text{
    margin: 0px !important;
    font-size: 16px;
    font-weight: lighter;
    color: $my-black;
  }

}
