.button {
  display: inline-block;
  padding: 14px 30px 10px 30px;
  border: none;
  font-family: $bebas-neue-font;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0px;
  float: right;
}

.bundle-card-button {
  display: inline-block;
  padding: 14px 30px 10px 30px;
  border: none;
  font-family: $bebas-neue-font;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0px;
  margin: 0 auto;
}

.button2 {
  display: inline-block;
  padding: 14px 30px 10px 30px;
  border: none;
  font-family: $bebas-neue-font;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0px;
}

.new-user-form-button {
  display: inline-block;
  padding: 14px 30px 10px 30px;
  border: none;
  font-family: $bebas-neue-font;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0px;
  width: 100%
}

.banner-call-to-actions {
  background-color: $brand-primary;
  color: #4b1414;
  transition: background-color .7s,color .1s;
  // font-family: $muara-demo-font;
  &:hover {
    background-color: $my-purple;
    color: $my-light-gray;
    text-decoration: none;
  }
}

.button-right {
  float: right;
  margin-top: 16px;
}

.button-all-width {
  width: 100%;
}

@media (max-width: 355px) {
  .banner-call-to-actions {
    a {
      padding: 8px;
    }
  }
}

.button-height {
  height: 60px;
}

.cancel-btn {
  background-color: $my-dark-gray;
  color: $my-light-gray;
  transition: background-color .7s,color .1s;
  // font-family: $muara-demo-font;
  &:hover {
    background-color: #4b1414;
    color: $my-light-gray;
    text-decoration: none;
  }
}

.btn-color-black {
  color: $my-black;
  &:hover {
    color: $my-black;
  }
  &:focus {
    color: $my-black;
  }
}
.link-decoration-none {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    // color: $my-black;
  }
}

.do-underline {
  border-bottom: 1px solid #F6EFF1;
  transition: all 0.2s ease-in;
  &:hover {
    border-bottom: 1px solid $my-black;
  }
}

.powered-by-epayco{
  padding: 0 10px 0 10px;
  font-size: 12px;
  float: left;
  margin-top: 16px;
  height: 30px;
  background-color: gray;
  color: white;
  text-align: center;
  line-height: 30px;
  box-shadow: 0 1px 10px rgba(0,0,0,.3);
  border-radius: 5px;
  min-width: 166px;
}
.social-btn{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 4px;
  .clipboard-copier{
    font-size: 11px;
    // color: white;
    border-radius: 3px;
    padding: 2px 10px;
    font-weight: bold;
  }
}
.share-on-whatsapp-btn{
  font-size: 11px;
  background-color: #25d366;
  color: white;
  border-radius: 3px;
  padding: 2px 10px;
  font-weight: bold;
  &:hover,&:active, &:focus {
    color: white;
    background-color: #1ea550;
    text-decoration: none;
  }
}
