.button {
  display: inline-block;
  padding: 14px 30px 10px 30px;
  border: none;
  font-family: $bebas-neue-font;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0px;
  float: right;
}

.banner-call-to-actions {
  background-color: $brand-primary;
  color: #4b1414;
  transition: background-color .7s,color .1s;
  // font-family: $muara-demo-font;
  &:hover {
    background-color: $my-purple;
    color: $my-light-gray;
    text-decoration: none;
  }
}

.button-right {
  float: right;
  margin-top: 16px;
}

@media (max-width: 355px) {
  .banner-call-to-actions {
    display: flex;
    a {
      padding: 8px;
    }
  }
}

.button-height {
  height: 60px;
}

.cancel-btn {
  background-color: $my-dark-gray;
  color: $my-light-gray;
  transition: background-color .7s,color .1s;
  // font-family: $muara-demo-font;
  &:hover {
    background-color: #4b1414;
    color: $my-light-gray;
    text-decoration: none;
  }
}

.link-decoration-none {
  color: $my-black;
  &:hover {
    text-decoration: none;
    color: $my-black;
  }
  &:focus {
    text-decoration: none;
    color: $my-black;
  }
}
