.button {
  display: inline-block;
  padding: 14px 30px;
  border: none;
  font-family: nexa_boldregular,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
}

.banner-call-to-actions {
  background-color: #f6b9ca;
  color: #333;
  transition: background-color .7s,color .1s;
  &:hover {
    background-color: #CA98A6;
    color: #585858;
    text-decoration: none;
  }
}

.button-right {
  float: right;
  margin-top: 8px;
}

@media (max-width: 355px) {
  .banner-call-to-actions {
    display: flex;
    a {
      padding: 8px;
    }
  }
}
