.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100px;
  padding: 0px 16px;
  color: rgba($brand-text,1);
  text-align: center;
  font-size: 14px;
  border-top: 1px solid $my-black;
  position: static;
  width: 100%;
  height: 100%;
  bottom: 0;
  flex-wrap: wrap;
}
.no-border-top{
  border-top: none !important;
}
.footer-category{
  margin: 16px 40px;
}
.footer-title{
  color: black;
  font-size: 18px;
  margin: 0px;
  font-weight: bold;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;

  p {
    margin: 0px;
    font-size: 12px;
    text-decoration: underline;
  }
}
.footer-links a:hover {
  color: $my-pink;
}
.footer .fa-heart {
  font-size: 18px;
  color: $brand-primary;
}
.footer .fa-copyright{
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
@media (max-width: 509px) {
  .footer {
    padding: 0px 16px;
  }
}

@media (max-width: 582px) {
  .footer {
    display: block;
  }
}
