.underlined {
  border-bottom: 1px solid $my-black;
}

.menu-item {
  cursor: pointer;
  width: 100%;
  text-align: center;
  height: 40px;
  background-color: $my-light-gray-purple;
  border-bottom: 1px solid $my-light-gray-purple;
  font-size: 16px;
  padding-top: 8px;
  transition: all 0.2s ease-in-out;
  &:hover {
  border-bottom: 1px solid $my-dark-gray;
  font-size: 17px;
  background-color: #F6EFF1;
 }
}

.background-light-pink-transparent {
  background-color: #F6EFF1;
}

.fields {
  width: 100%;
  li {
    float: left;
    margin: 0 0 20px 0;
    width: 50%;
    padding: 0;
    background: none;
    list-style: none;
  }
}

.bold {
  font-weight: 600;
}
