.underlined {
  border-bottom: 1px solid $my-black;
}

.menu-item {
  cursor: pointer;
  width: 100%;
  text-align: center;
  height: 40px;
  background-color: $my-light-gray-purple;
  border-bottom: 1px solid $my-light-gray-purple;
  font-size: 16px;
  padding-top: 8px;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  &:hover {
  // border-bottom: 1px solid $my-dark-gray;
  font-size: 17px;
  background-color: #F6EFF1;
 }
}

.active-item{
  // border-bottom: 1px solid $my-dark-gray;
  font-size: 16px;
  background-color: #F6EFF1;
  font-weight: 600;
}

.background-light-pink-transparent {
  background-color: #F6EFF1;
}

.fields {
  width: 100%;
  li {
    float: left;
    margin: 0 0 20px 0;
    width: 50%;
    padding: 0;
    background: none;
    list-style: none;
  }
}

.bold {
  font-weight: 600;
}
.color-black{
  color: $my-black;
}
.order-status{
  padding: 1px 4px;
  border-radius: 4px;
}

.order-status-pendiente{
  color: #914400;
  background-color: $yellow;
}
.order-status-pagada{
  color: #488135;
  background-color: $my-green;
}
.order-status-inactiva{
  color: $my-dark-gray;
  background-color: #c6c6c6;
}
.order-status-incompleta{
  color: white;
  background-color: $blue;
}
.order-status-cancelada{
  background: $my-dark-pink;
  color: #4b1414;
}
