.new_user, #customer-form{
  select {
    background-color: white;
    border: 1px solid $my-light-gray;
    border-radius: 0px;
    font-weight: bold;
    color: $my-black;
    font-size: 13px;
  }
  label {
    font-size: 13px;
    color: $my-black;
    font-weight: lighter;
  }
  input:not([type='submit']) {
    border: 1px solid $my-light-gray;
    border-radius: 0px;
    font-weight: bold;
    color: $my-black;
    font-size: 13px;
  }
}
