.order-description{
  width: 100%;
  min-height: 500px;
  background-color: whitesmoke;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .order-description-image{
    width: 120px;
    height: 120px;
  }
  .order-description-list-container{
    background-color: white;
    width: 90%;
    border-radius: 4px;
    margin-bottom: 10%;
    p {
      padding: 8px;
      font-size: 14px;
      color: $my-black;
    }
    .order-description-list {
      list-style: none;
      margin: 0;
      padding: 8px;
      font-size: 14px;
      color: $my-black;
      hr {
        margin: 0px;
        border: 0.5px solid $my-light-gray;
        margin: 0px 30px;
      }
      li {
        padding: 16px;
        i {
          color: $my-dark-pink;
          padding-right: 8px;
        }
      }
      .order-description-list-number {
        font-weight: bold;
        color: $my-dark-pink;
        padding-right: 8px;
      }
    }
  }
}
.order-selection {
  width: 100%;
  border: 1px solid $my-black;
  padding: 24px;
  margin-bottom: 16px;
  border-radius: 4px;

  h4 {
    font-weight: bold;
    color: $my-black;
    margin: 0px;
  }

  p {
    font-size: 14px;
    color: $my-black;
    font-weight: lighter;
    margin: 0px;
  }
  .order-selection-description{
    padding-top: 16px;
  }
  hr {
    border: 0.5px solid $my-light-gray;
    margin: 24px 30px;
  }
}

.order-selection-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
      font-size: 12px;
      font-weight: normal;
      text-decoration: underline;
      color: $my-black;
  }
}

.order-selection-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
