.page-title{
  font-weight: bold;
  font-size: 28px;
  color: #33333E;
}
.page-subtitle{
  font-weight: bold;
  font-size: 24px;
  color: #33333E;
}

.referral-link-box{
  // min-height: 600px;
  border-radius: 4px;
  padding: 16px;
}
.number-of-referrals{
  padding: 8px;
  font-size: 14px;
  color: $my-black;
}
.black-divider{
  margin: 0px;
  border: 0.5px solid $my-gray;
  margin: 0px 30px;
}
