<div class="new-order-wrapper">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="package-card">
        <h4>Plan Mensual</h4>
        <hr>
        <strong><h4>$34,900</h4></strong>
        <hr>
        <ul>
          <li><i class="fab fa-gratipay"></i></i>Sin cláusulas de permanencia</li>
          <li><i class="fab fa-gratipay"></i></i>Sin contratos</li>
          <li><i class="fab fa-gratipay"></i></i>Cancela cuando quieras</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">

    </div>
    <div class="col-xs-12 col-sm-3">

    </div>
    <div class="col-xs-12 col-sm-3">

    </div>
  </div>
</div>
<%= render 'shared/footer', background: "background-white", border_top:"" %>
<%= render 'shared/tawk-payment' %>
